* {
  box-sizing: border-box;
}

:root {
  --bg: midnightblue;
  --text: hsl(from var(--bg) calc(h - 10) s 80%);
  --layer0: hsl(from var(--bg) h s calc(l + 10));
  --layer0-disabled: hsl(from var(--bg) h s calc(l - 20));
  --layer0-border: 1px solid hsl(from var(--bg) h s 0);
}

body {
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#map {
  width: 100%;
  height: 30em;
  display: block;
}

main {
  min-height: 100vh;
  padding: 1em;
  color: var(--text);
  background-color: var(--bg);
}

button {
  border: var(--layer0-border);
  border-radius: 4px;
  color: var(--text);

  background-color: var(--layer0);

  &:active {
    background-color: var(--text);

    color: var(--layer0);
  }

  &:disabled {
    background-color: var(--layer0-disabled);
  }
}
