* {
  box-sizing: border-box;
}

:root {
}

body {
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#map {
  width: 100%;
  height: 30em;
  display: block;
}

main {
  min-height: 100vh;
  padding: 1em;
  color: hsl(from midnightblue calc(h - 10) s 80%);
  background-color: midnightblue;
}

button {
  border: 1px solid hsl(from midnightblue h s 0);
  border-radius: 4px;
  color: hsl(from midnightblue calc(h - 10) s 80%);

  background-color: hsl(from midnightblue h s calc(l + 10));

  &:active {
    background-color: hsl(from midnightblue calc(h - 10) s 80%);

    color: hsl(from midnightblue h s calc(l + 10));
  }

  &:disabled {
    background-color: hsl(from midnightblue h s calc(l - 20));
  }
}
